* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #8794BA;
	background-color: #F8F9FF;
}

li {
	list-style: none;
}

a,
button {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #8794BA;
}

a:hover {
	color: #FFFFFF;
}

a:active {
	color: #EF2A82;
}

.btn {
	color: #FFFFFF;
	cursor: pointer;
}

.btn:hover {
	background-color: #FFFFFF;
	color: #EF2A82;
}

.btn:active {
	outline: 2px solid #EF2A82;
	filter: brightness(60%);
}

.center {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

/* ==Header== */

.top-wrp {
	max-width: 1600px;
	width: 100%;
	min-height: 815px;
	margin: 0 auto;
	background-image: url(../img/promo-image-small.png), url(../img/promo-image-big.png),
		url(../img/circle-background-small.svg), url(../img/circle-background-medium.svg),
		url(../img/background-top.png);
	background-repeat: no-repeat;
	background-size: 441px, 871px, 554px, 1076px, cover;
	background-position: 803px 268px, 875px 148px, 1px 2px, 525px -2px, center;
	/* background-color: #F8F9FF; */
}

.top-header {
	margin: 0 auto 151px;
	padding-top: 50px;
	box-sizing: border-box;
	min-height: 40px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.logo:hover {
	filter: brightness(60%)
}

.logo:active {
	filter: brightness(40%)
}

.top-header__left {
	max-width: 657px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
}

.top-header__menu-list {
	margin: 0;
	margin-right: 40px;
	max-width: 350px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 36px;
}

/* ===header__menu=== */

.top-header__menu__link {
	text-transform: capitalize;
}

.top-header__menu__link_uppercase {
	text-transform: uppercase;
}


/* ===ENDheader__menu=== */
.top-header__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.top-header__sign-btn_in {
	min-height: 40px;
	text-align: center;
	text-transform: capitalize;
	border: none;
	border-radius: 68px;
	background-color: transparent;
	color: #8794BA;
	cursor: pointer;
}

.top-header__sign-btn_in:hover {
	color: #FFFFFF;
}

.top-header__sign-btn_in:active {
	color: #EF2A82;
}

.top-header__sign-btn_up {
	width: 159px;
	min-height: 40px;
	text-align: center;
	text-transform: capitalize;
	border: 1px solid #465B95;
	box-sizing: border-box;
	border-radius: 68px;
	background-color: transparent;
	color: #8794BA;
	cursor: pointer;
}

.top-header__sign-btn_up:hover {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.top-header__sign-btn_up:active {
	color: #EF2A82;
	border: 2px solid #EF2A82;
}

/* =====menu-mobile-version===== */
/* ====btn-burger-menu==== */


.header-page-menu-burger-btn {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	position: relative;
}

.header-page-menu-burger-btn span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #8794BA;
}

.header-page-menu-burger-btn:hover {
	filter: brightness(60%)
}

.header-page-menu-burger-btn span::after,
.header-page-menu-burger-btn span::before {
	content: "";
	width: 100%;
	height: 3px;
	background-color: inherit;
	position: absolute;
}

.header-page-menu-burger-btn span::before {
	bottom: 2px;
}

.header-page-menu-burger-btn span::after {
	top: 3px;
}

.header-page-menu-btn~.header-page-menu-burger-btn span::before,
.header-page-menu-btn~.header-page-menu-burger-btn span::after {
	transition: transform 1s ease;
}

.header-page-menu-btn:checked~.header-page-menu-burger-btn span {
	background-color: transparent;
}

.header-page-menu-btn:checked~.header-page-menu-burger-btn span::before {
	transform: rotate(-45deg);
	background-color: #8794BA;
	top: 10px;
	filter: brightness(60%)
}

.header-page-menu-btn:checked~.header-page-menu-burger-btn span::after {
	transform: rotate(45deg);
	background-color: #8794BA;
	top: 10px;
	filter: brightness(60%)
}

/* ====ENDbtn-burger-menu==== */

.header-page-menu-box {
	max-width: 335px;
	width: 100%;
	min-height: 250px;
	background-color: rgba(135, 148, 186, 0.8);
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: -664px;
	z-index: 1;
	transition: top 1.5s ease;
}

.header-page-menu-btn {
	display: none;
}

.header-page-menu-btn:checked~.header-page-menu-box {
	visibility: visible;
	top: 101px;
	transition: top 1.5s ease;
}

.header-page-menu-title {
	display: block;
	position: relative;
	margin: 10px auto 20px auto;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #EF2A82;
}

.header-page-menu-list-links {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: baseline;
	margin-left: 100px;
}

.header-page-menu-list-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.header-page-menu-list-item>a {
	color: #FFFFFF;
	text-transform: capitalize;
}

.header-page-menu-list-item>a:hover {
	color: #8794BA;
	filter: brightness(60%);
}

.header-page-menu-list-item>a:active {
	color: #EF2A82;
	filter: brightness(50%);
}

.header-page-menu {
	display: none;
}

/* ====ENDheader-page-menu==== */
/* =====ENDmenu-mobile-version===== */
/* ==ENDHeader== */

/* ===top-page__promo=== */
.top-page__promo__wrp {
	margin: 0 0 96px 0;
}

.top-page__promo__image {
	width: 335px;
	height: 231px;
	background-image: url(../img/promo-image-mobile.png);
	background-repeat: no-repeat;
	background-size: contain;
	box-shadow: 0px 7.5px 20.8333px -6.25px rgba(25, 42, 89, 0.2);
	border-radius: 12.5px;

}

.top-page__promo__preview {
	max-width: 550px;
	width: 100%;
	min-height: 317px;
}

.top-page__promo__tiile {
	margin: 0 0 15px 0;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
}

.top-page__promo__text {
	margin: 0 0 49px 0;
}

.top-page__promo__preview-btn {
	max-width: 238px;
	width: 100%;
	min-height: 50px;
	background-color: #EF2A82;
	border-radius: 68px;
	text-align: center;
	border: none;
}

.top-page__promo__preview-btn:active {
	filter: brightness(60%)
}

/* ===ENDtop-page__promo=== */

/* ==Main== */
main {
	padding: 38px 0;
	box-sizing: border-box;
}

/* ===Section-features=== */
.features {
	margin: 0 0 130px 0;
}

.features__heading {
	/* outline: 1px solid red; */
	display: flex;
	align-items: center;
	flex-direction: column;
}

.features__heading__title {
	margin: 0 0 37px 0;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
	text-align: center;
	text-transform: capitalize;
}

.features__heading__txt {
	margin: 0 0 80px 0;
	max-width: 1060px;
	width: 100%;
	text-align: center;
}

.features__list-item__title {
	margin: 0 0 15px 0;
}

/* ====features__list==== */

.features__list {
	margin: 0 auto 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 20px;
}

.features__list-item {
	max-width: 380px;
	width: 100%;
	min-height: 164px;
}

.features__list-item__wrp svg {
	display: block;
	margin: 0 auto 26px;
	fill: #EF2A82;
}

.features__list-item__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: capitalize;
	color: #172755;
}

.features__list-item__desc {
	display: block;
	margin: 0 auto;
	font-size: 16px;
	max-width: 360px;
	width: 100%;
	line-height: 140%;
	text-align: center;
}

/* ====ENDfeatures__list==== */
/* ===ENDSection-features=== */


/* ===Section-product-functions=== */
.product-functions {
	margin: 0 0 114px 0;
}

.product-functions__list {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

.product-functions__list_item-wrp {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-functions__desc {
	max-width: 480px;
	width: 100%;
	min-height: 232px;
}

.product-functions__desc_order {
	order: 3;
}

.product-functions__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
}

.capitalize {
	text-transform: capitalize;
}

.product-functions__title {
	display: block;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
}

.product-functions__image {
	display: block;
	box-sizing: border-box;
	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2)
}

/* ===ENDSection-product-functions=== */


/* ===Section-pricing-plans=== */
.pricing-plans-wrp {
	max-width: 1600px;
	width: 100%;
	min-height: 1084px;
	margin: 0 auto;
	background-image: url(../img/circle-background-big.svg), url(../img/background-image1-section-pricing-plans1.svg);
	background-repeat: no-repeat;
	background-size: 1005px, cover;
	background-position: 600px 220px, 0px 0px;
	;
	padding: 272px 0px 0px;
	box-sizing: border-box;
}

.pricing-plans {
	margin: 0 auto 158px;
}

.pricing-plans__heading {
	margin: 0 auto 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing-plans__header-title {
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #FFFFFF;
	text-transform: capitalize;
}

.pricing-plans__header-txt {
	max-width: 640px;
	width: 100%;
	text-align: center;
}

/* ==pricing-plans-items== */

.pricing-plans__list {
	margin: 0 0 158px 0;
	display: flex;
	justify-content: space-between;
}

.pricing-plans__wrp {
	width: 340px;
	min-height: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #0F1F4B;
	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.7);
	border-radius: 30px;
	padding: 50px 0 70px;
	box-sizing: border-box;
}

.pricing-plans__wrp:hover {
	background-color: #FFFFFF;
}


.pricing-plans__wrp:hover .pricing-plans__price,
.pricing-plans__wrp:hover .pricing-plans__name {
	color: #0F1F4B;
}

.pricing-plans__wrp:hover .pricing-plans__btn {
	background-color: #EF2A82;
	border: none;
}

.pricing-plans__wrp>.pricing-plans__btn:hover {
	background-color: #FFFFFF;
	border: 1px solid #EF2A82;
}

.pricing-plans__wrp>.pricing-plans__btn:active {
	filter: brightness(60%);
}

.pricing-plans__name {
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	text-transform: capitalize;
}

.pricing-plans__desc {
	display: block;
	margin-bottom: 29px;
	text-align: center;
	max-width: 220px;
	width: 100%;
	min-height: 63px;
	border-bottom: 1px solid #2A407C;
	box-sizing: border-box;
}

.pricing-plans__price {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
}

.pricing-plans__price_price {
	font-size: 60px;
	line-height: 70px;
}

.pricing-plans__deck-price-txt {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.pricing-plans__btn {
	width: 200px;
	height: 50px;
	border: 1px solid #2A407C;
	border-radius: 68px;
	background-color: inherit;
	color: #FFFFFF;
	cursor: pointer;
}

/* ==ENDpricing-plans== */
/* ===ENDSection-pricing-plans=== */

/* ===Section-read-more=== */


.read-more-inner {
	max-width: 931px;
	width: 100%;
	margin: 79px auto 86px;
	;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 58px;
}

.company {
	max-width: 432px;
	width: 100%;
	min-height: 475px;
}

.company__heading {
	display: block;
	padding-top: 47px;
	box-sizing: border-box;
	margin-bottom: 75px;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #160637;
}

.company__txt {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto 54px;
	text-align: center;
	position: relative;
}

.company__txt::after,
.company__txt::before {
	content: "";
	display: block;
	width: 144px;
	height: 1px;
	background-color: #D6D6D6;
	position: absolute;
	top: 11px;
}

.company__txt::after {
	left: 0;
}

.company__txt::before {
	right: 0;
}

.company__logo-img {
	fill: #8989A2;
}

.company__logo-img:hover {
	fill: #EF2A82;
}

.company__logo-img:active {
	filter: brightness(60%);
}

.logo-react path:nth-child(2n+1) {
	fill: #8989A2;
}

.logo-react path:nth-child(2n+1):hover {
	fill: #EF2A82;
}

.logo-react path:nth-child(2n+1):active {
	filter: brightness(60%);
}

.company__logo-list {
	max-width: 301px;
	width: 100%;
	min-height: 156px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	margin: 0 0 30px 0;
}

/* ===sign-up=== */

.sign-up {

	margin: 32px auto;
	max-width: 428px;
	width: 100%;
	min-height: 475px;
	box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.322), 0px 53px 0px 26px rgba(249, 240, 255, 1);
	;
	border-radius: 8px;
	/* box-shadow: 0px 53px 0px 26px rgba(249, 240, 255, 1); */
	/* -webkit-box-shadow: 0px 53px 0px 26px rgba(249, 240, 255, 1);
	-moz-box-shadow: 0px 53px 0px 26px rgba(249, 240, 255, 1); */
}

.sign-up__title {
	padding-top: 32px;
	box-sizing: border-box;
	display: block;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	text-transform: capitalize;
	color: #160637;
}

.sign-up__form {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.sign-up__button {
	width: 344px;
	height: 48px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #722ED1;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}

.sign-up__email-input,
.sign-up__pass-input {
	width: 346px;
	height: 51px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	padding: 16px;
	box-sizing: border-box;
}

.sign-up__email-input::placeholder,
.sign-up__pass-input::placeholder {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #8989A2;
}

.sign-up__star-rating__heading {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}


.star-rating__input {
	display: block;
	margin: 0 5px;
}

.star-rating {
	margin: 0 auto;
	max-width: 130px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 5px;
}


.sign-up__star-rating__txt {
	margin-top: 16px;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #8989A2;
}

.sign-up__star-rating__txt::after {
	content: "";
	display: block;
	width: 336px;
	height: 1px;
	background-color: #C6C6D2;
	position: absolute;
	top: -16px;
	left: -60px;
}

.sign-up__star-rating__link {
	color: #722ED1;
	text-transform: capitalize;
	font-weight: 700;
}

.sign-up__star-rating__link:hover {
	color: #EF2A82;
}

.sign-up__star-rating__link:active {
	filter: brightness(60%);
}

/* ===ENDsign-up=== */

/* ===EndSection-read-more=== */

/* ==ENDMain== */




/* ==Footter== */
footer {
	max-width: 1600px;
	width: 100%;
	min-height: 154px;
	background-color: #1F2F5C;
	margin: 0 auto;
}

.footer-wrp {
	padding: 64px 0 60px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	fill: #8794BA;
}

.footer-logo:hover {
	fill: #FFFFFF;
	filter: brightness(40%);
}

.footer-logo:active {
	fill: #EF2A82;
}

.footer-logo:hover svg path:nth-child(-n+2) {
	fill: #EF2A82;
	filter: brightness(60%);
}

.footer__menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__middle {
	max-width: 293px;
	width: 100%;
}

.footer-menu-link {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.uppercase {
	text-transform: uppercase;
}

.footer__right {
	max-width: 134px;
	width: 100%;
}

.footer__social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__social-link svg {
	fill: #8794BA;
}

.footer__social-link svg:hover {
	fill: #FFFFFF;
}

.footer__social-link svg:active {
	fill: #EF2A82;
}


/* ==ENDFootter== */

@media(max-width:1036px) {
	.pricing-plans__wrp {
		width: 320px;
	}
}

@media(max-width:767px) {

	.center {
		max-width: 335px;
		width: 100%;
	}

	.top-wrp {
		width: 100%;
		/* min-height: 815px; */
		margin: 0 auto;
		background-image: url(../img/background-top.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	/* ==Header== */

	.top-header-wrp-mobile {
		background-color: #172755;
		box-shadow: 0px 4px 4px #12214D;
	}

	.top-header__sign-btn_up {
		display: none;
	}

	.top-header__menu-list {
		display: none;
	}

	.top-header {
		max-width: 335px;
		width: 100%;
		min-height: 70px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 64px;
		margin: 0 auto 29px;
		padding: 20px;
	}

	.logo-img {
		width: 138.02px;
		height: 30px;
	}

	.top-header__left {
		max-width: 140px;
	}


	.top-header__right {
		max-width: 50px;
		gap: 18px;
	}

	.header-page-menu {
		display: block;
	}

	.header-page-menu-btn:checked~.header-page-menu-box {
		top: 80px;
	}

	.header-page-menu-box {
		right: 167px;
		top: -670px;
	}

	/* ==ENDHeader== */


}







/* ===Bootstrapstar-rating=== */
.star-rating {
	font-size: 0;
}

.star-rating__wrap {
	display: inline-block;
	font-size: .7rem;
}

.star-rating__wrap:after {
	content: "";
	display: table;
	clear: both;
}

.star-rating__ico {
	float: right;
	padding-left: 2px;
	padding-right: 5px;
	cursor: pointer;
	color: #FFB300;
}

.star-rating__ico:last-child {
	padding-left: 0;
}

.star-rating__input {
	display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover~.star-rating__ico:before,
.star-rating__input:checked~.star-rating__ico:before {
	content: "\f005";
}

/* ===ENDBootstrapstar-rating=== */